@tailwind base;
@tailwind components;
@tailwind utilities;
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
:root {
  font-family: serif, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 840;
  color-scheme: light dark;
  color: #fffdd0;
  background-color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grid-container {
  display: grid;
  grid-template-rows: 100px 500px;
  grid-template-columns: 400px 900px;
  gap: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
html, body {
  width: 100%;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  /* 20s is the speed. 'linear' ensures it doesn't speed up or slow down. */
  animation: marquee 20s linear infinite;
}

/* Optional: Pauses the scroll when the user hovers over it */
.animate-marquee:hover {
  animation-play-state: paused;
}