@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: serif, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 840;
  color-scheme: light dark;
  color: #F5E7C6;
  background-color: #222222;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grid-container {
  display: grid;
  grid-template-rows: 100px 500px;
  grid-template-columns: 400px 900px;
  gap: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}



